@import "tailwindcss";


@font-face {
  font-family: 'avvillas';
  src: url('/fonts/avvillas/avvillas.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'nequi', sans-serif;
}
