@import "tailwindcss";


@font-face {
  font-family: 'nequi';
  src: url('/fonts/nequi/Manrope.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'nequi', sans-serif;
}
