@import "tailwindcss";


@font-face {
  font-family: 'Krub';
  src: url('/fonts/alianza/Krub-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Krub';
  src: url('/fonts/alianza/Krub-MediumItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  font-family: 'Krub', sans-serif;
}
